# don't synchronise local temporary storage
.tmp

# don't synchronise image storage or timelapses
images
timelapse

# ignore debugging log
.xtrace.log
.xtrace.log.1

# ensure debugging log setting isn't wiped out through updates
.config/debug
